# CLUE Cleansing Abusive dan Kamus Alay

In [1]:
import pandas as pd

## Data Tweet

In [2]:
Tweet = {
    'Tweet': ['KamU guanteeNG', 'Jelek KAMU', 'kamu ANJING', 'janjuk KAU','kamu piintaar']
}

Tweet = pd.DataFrame(Tweet, columns = ['Tweet'])


Tweet.head()

            Tweet
0  KamU guanteeNG
1      Jelek KAMU
2     kamu ANJING
3      janjuk KAU
4   kamu piintaar

## Data Abusive

In [3]:
Abusive = {
    'Abusive': ['Jelek', 'Anjing', 'Janjuk', 'Bodoh','Tai']
}

Abusive = pd.DataFrame(Abusive, columns = ['Abusive'])


Abusive.head()

  Abusive
0   Jelek
1  Anjing
2  Janjuk
3   Bodoh
4     Tai

## Data Kamus Alay

In [4]:
Alay = {
    'Alay': ['guanteeng', 'piintaar', 'cuantiik', 'tajir'],
    'Alay_Fix' : ['ganteng', 'pintar', 'cantik' , 'kaya']
}

Alay = pd.DataFrame(Alay, columns = ['Alay' , 'Alay_Fix' ])


Alay.head()

        Alay Alay_Fix
0  guanteeng  ganteng
1   piintaar   pintar
2   cuantiik   cantik
3      tajir     kaya

## Cleansing Tweet terhadap abusive

In [5]:
list_abusive = Abusive['Abusive'].str.lower().tolist()
list_abusive

['jelek', 'anjing', 'janjuk', 'bodoh', 'tai']

In [6]:
list_tweet = Tweet['Tweet'].str.lower().tolist()
list_tweet

['kamu guanteeng', 'jelek kamu', 'kamu anjing', 'janjuk kau', 'kamu piintaar']

In [7]:
for i in list_tweet:
    for j in list_abusive:
        if j in i:
            list_tweet[list_tweet.index(i)] = list_tweet[list_tweet.index(i)].replace(j,'**censored**')

list_tweet

['kamu guanteeng',
 '**censored** kamu',
 'kamu **censored**',
 '**censored** kau',
 'kamu piintaar']

## Cleansing Tweet terhadap kamus alay

In [8]:
list_alay = Alay['Alay'].str.lower().tolist()
list_alay

['guanteeng', 'piintaar', 'cuantiik', 'tajir']

In [9]:
list_alay_fix = Alay['Alay_Fix'].str.lower().tolist()
list_alay_fix

['ganteng', 'pintar', 'cantik', 'kaya']

In [10]:
list_tweet = Tweet['Tweet'].str.lower().tolist()
list_tweet

['kamu guanteeng', 'jelek kamu', 'kamu anjing', 'janjuk kau', 'kamu piintaar']

In [11]:
for i in list_tweet:
    for j in list_alay:
        if j in i:
            a = list_alay.index(j)
            list_tweet[list_tweet.index(i)] = list_tweet[list_tweet.index(i)].replace(j,list_alay_fix[a])
            
list_tweet

['kamu ganteng', 'jelek kamu', 'kamu anjing', 'janjuk kau', 'kamu pintar']

# **Tugas nya**

Diatas ada clue untuk cleansing data abusive dan kamus_alay, berdasarkan clue di atas coba teman teman gabungkan menjadi

"*Cleansing Tweet terhadap data abusive dan kamus alay*"

Jika berhasil bisa teman teman terapkan pada challege gold cleansing nya